.form{
    padding: 15px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
    margin-bottom: 30px;
    max-width: 270px;
}
.text{

}
.btn{
 align-self: center;
}
.error{
    color: red;
}